<h1>Make a New Show</h1>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<form action="/shows" method="post">
  Show Title: <input type="text" name="title"><br>
  Show Genre:
    <form method ="post" action ="">
      <select name="show_genre">
        <option></option>
        <% @genres.each do |genre| %>
            <option value="<%= genre.id %>"><%= genre.name %></option>
        <% end %>
      </select>
      <br>
  Show Length:
    <form method ="post" action ="">
      <select name="show_length">
        <option> </option>
        <% @lengths.each do |length| %>
            <option value="<%= length.id %>"><%= length.length_description %></option>
        <% end %>
      </select>
      <br>

<br></br>

Don't see the genre you need above? Keep the genre field above blank and add a new one here: <input type="text" name="new_genre"><br>
Don't see the length you need above? Keep the length field above blank and add a new one here: <input type="text" name="new_length"><br>
<input type="submit" value="Create">
</form>

<br></br>

<a class="button" href="/shows">Return to All Your Shows</a>
<br>
<a class="button" href="/logout">Logout</a>
