<h1>Edit Your Show</h1>

<form action="/shows/<%= @show.slug %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <h3>Current Show Details: </h3>
  <p>
    Title: <%= @show.title %> Change To: <input type="text" name="title">
  </p>
  <p>
    Genre: <%= @show.show_genre %> Change To:
        <select name="show_genre">
          <% @genres.each do |genre| %>
            <% if genre.id == @show.genre_id %>
              <option value="<%= genre.id %>" selected="selected"><%= genre.name %></option>
            <% else %>
              <option value="<%= genre.id %>"><%= genre.name %></option>
            <% end %>
          <% end %>
        </select>
        <br>
  </p>
  <p>
    Length: <%= @show.show_length %> Change To:
        <select name="show_length">
          <% @lengths.each do |length| %>
              <option value="<%= length.id %>"><%= length.length_description %></option>
          <% end %>
        </select>
  </p>
  <input type="submit" value="Save Edits">
</form>


<br></br>

<a class="button" href="/shows/new">Create a New Show</a>
<br>
<a class="button" href="/shows">Return to All Your Shows</a>
<br>
<a class="button" href="/logout">Logout</a>
