<h1>Edit Your Show</h1>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<form action="/shows/<%= @show.slug %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <h3>Current Show Details: </h3>
  <p>
    Title: <input type="text" name="title" value="<%= @show.title %>">
  </p>
  <p>
    Genre:
        <select name="show_genre">
          <option> </option>
          <% @genres.each do |genre| %>
            <% if genre.id == @show.genre_id %>
              <option value="<%= genre.id %>" selected="selected"><%= genre.name %></option>
            <% else %>
              <option value="<%= genre.id %>"><%= genre.name %></option>
            <% end %>
          <% end %>
        </select>
        <br>
  </p>
  <p>
    Length:
        <select name="show_length">
          <option> </option>
          <% @lengths.each do |length| %>
            <% if length.id == @show.length_id %>
              <option value="<%= length.id %>" selected="selected"><%= length.length_description %></option>
            <% else %>
              <option value="<%= length.id %>"><%= length.length_description %></option>
            <% end %>
          <% end %>
        </select>
  </p>

<br></br>

Don't see the genre you need above? Change the genre field above to the blank and add a new one here: <input type="text" name="new_genre"><br>
Don't see the length you need above? Change the length field above to the blank and add a new one here: <input type="text" name="new_length"><br>
  <input type="submit" value="Save Edits">
</form>


<br></br>

<a class="button" href="/shows/new">Create a New Show</a>
<br>
<a class="button" href="/shows">Return to All Your Shows</a>
<br>
<a class="button" href="/logout">Logout</a>
