<h1>Which Show Do You Want to Watch?</h1>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<a class="button" href="/shows/<%= @show_id %>">Get a Random Show Recommendation</a>
<br>

<br></br>

<div class="col-md-6">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Show Title</th>
        <th>Genre</th>
        <th>Length</th>
      </tr>
    </thead>
    <tbody>
      <% @current_user_shows.each do |show| %>
      <tr>
        <td><a href="/shows/<%= show.id %>"><%= show.title %></a></td>
        <td><%= show.show_genre %></td>
        <td><%= show.show_length %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br></br>


<a class="button" href="/shows/new">Create a New Show</a>
<br>
<a class="button" href="/logout">Logout</a>
