<h1>Which Show Do You Want to Watch?</h1>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<a class="button" href="/shows/<%= @show_slug %>">Get a Random Show Recommendation</a>
<br>

<br></br>

<table>
  <tr>
    <th>
      Show Title
    </th>
    <th>
      Genre
    </th>
    <th>
      Length
    </th>
  </tr>
  <% @current_user_shows.each do |show| %>
  <tr>
    <td>
      <a href="/shows/<%= show.slug %>"><%= show.title %></a>
    </td>
    <td>
      <%= show.show_genre %>
    </td>
    <td>
      <%= show.show_length %>
    </td>
  </tr>
  <% end %>
</table>

<br></br>


<a class="button" href="/shows/new">Create a New Show</a>
<br>
<a class="button" href="/logout">Logout</a>
