<h1>Show Details Page</h1>

<h4><%= @show.title %></h4>
<p>
  Genre: <%= @show.genre %>
</p>
<p>
  Length: <%= @show.length %>
</p>

<br>

<a class="button" href="/shows/<%= @show.id %>/edit">Edit Show</a>

<br>

<form action="/shows/<%= @show.slug %>/delete" method="post">
  <input type="hidden" name="_method">
  <input type="submit" value="Delete Show">
</form>

<br>

<a class="button" href="/shows/new">Create a New Show</a>
<br>
<a class="button" href="/shows">Return to All Your Shows</a>
<br>
<a class="button" href="/logout">Logout</a>
<br>
For testing:
<a class="button" href="/login">Log In Here</a>
<a class="button" href="/signup">Sign Up Here</a>
