<h1>Wanna Watch This?</h1>

<h4><%= @show.title %></h4>
<p>
  Genre: <%= @show.show_genre %>
</p>
<p>
  Length: <%= @show.show_length %>
</p>

<br>

<a class="button" href="/shows/<%= @show.slug %>/edit">Edit Show</a>

<br>

<a class="button" href="/shows/<%= @show_slug %>">Get a Random Show Recommendation</a>

<br>

<form action="/shows/<%= @show.slug %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Show">
</form>

<br>

<a class="button" href="/shows/new">Create a New Show</a>
<br>
<a class="button" href="/shows">Return to All Your Shows</a>
<br>
<a class="button" href="/logout">Logout</a>
